@charset "UTF-8";

@import "variables";
@import "mixins";
@import "reset";
@import "grid";

body{
  background-color: #223331;
}

.logo{
    width: 300px;
    margin: 0 auto;
    display: block;
    z-index: 2;
    position: relative;
    margin-top: 100px;
    margin-bottom: 700px;
}

.webgl{
    position: absolute;
    top:0;
    left: 0;
    display: block;
}

.content{
    height: 1500px;
    background-color: #fff;
}
